body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 200px 0; 
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 1.2em;
    margin-bottom: 2em;
}

label, input[type="text"] {
    font-size: 1.2em;
    margin: 0.5em;
}

.topic-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.topic-button {
    background-color: #444;
    color: white;
    border: none;
    padding: 1em;
    margin: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 400px; 
}

.topic-button img {
    max-width: 75px;
    height: auto;
    margin-bottom: 0.5em;
}

.topic-button span {
    display: block;
    text-align: center;
}

.topic-button:hover {
    background-color: #666;
}

input[type="submit"] {
    background-color: #28a745; 
    color: white;
    border: none;
    padding: 1em 2em;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 1em;
}

input[type="submit"]:hover {
    background-color: #218838;
}

.topic-button.ranked {
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2em;
}

th, td {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #555;
    color: white;
}

td {
    background-color: #333;
    color: white;
}

table, th, td {
    text-align: justify;
}

